# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive variable files
terraform.tfvars
*.auto.tfvars

# Local env files
.env
.env.*

# Node
node_modules/

# OS/editor
.DS_Store
